:root {
  --main-bg-color: rgba(230, 0, 18, 1);
  --main-font-color: rgba(255,255,255,1);
  --main-grey: #BDBDBD;
}

@font-face { font-family: 'Nintender';
             src: url('./fonts/Nintender.ttf') format('truetype'); 
          }

body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: 'Nintender', sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#app {
  display: flex;
}

h1 {
  display: flex;
  flex-direction: column;
}

.counter-wrapper {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter {
  font-size: 45px;
  width: 320px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 40vh;
  overflow-y: scroll;
}
.tweet {
  font-family: 'Roboto';
  background-color: var(--main-font-color);
  color: #000;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-sizing: border-box;
  width: 450px;
  margin-bottom: 10px;
}
.tweet .tweet-header {
  display: flex;
  padding: 16px;
  padding-bottom: 0;
  position: relative;
}
.tweet .user-img{
  border-radius: 100%;
  margin-right: 15px;
}
.tweet .user-name {
  font-size: 21px;
  font-weight: bold;
}
.tweet .date {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--main-grey);
}
.tweet .theaser-img {
  width: 100%;
  margin-top: 16px;
}
.tweet .tweet-text {
  padding: 16px;
  padding-bottom: 24px;
  font-size: 18px
}